@model LogicUniversityTeam5.Models.CombinedViewModel
@{
    ViewBag.Title = "SearchRequisitionForm";
}
<div class="container">
    <h1 class="text-center pb-5">Submitted Requisition Form</h1>
    <div class="row justify-content-md-center mt-3">
        <div class="col-8 text-center">
            @using (Html.BeginForm("LoadSearchRequisitionForm", "ViewPastRequest", FormMethod.Post))
            {
                <h6 class="text-left"><strong>Filter by:</strong></h6>
                <div class="form-group mt-3">
                    <div class="row justify-content-md-center">
                        <div class="col-6 text-left">Start Date:</div>
                        <div class="col-6 text-left">End Date:</div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-6 text-left">
                            @Html.TextBox("startdate", null, new { @type="date", @name="startdate", @class="form-control",@id="start",
                                                                    @min="2018-01-01"})
                        </div>
                        <div class="col-6 text-left">
                            @Html.TextBox("enddate", null, new { @type="date", @name="enddate", @class="form-control",@id="end",
                                                                    @min="2018-01-02"})
                        </div>
                    </div>
                </div>
                <script>
                    var start = document.getElementById('start');
                    var end = document.getElementById('end');

                    start.addEventListener('change', function () {
                        if (start.value)
                            end.min = start.value;
                    }, false);
                    end.addEventLiseter('change', function () {
                        if (end.value)
                            start.max = end.value;
                    }, false);
                </script>
                <h6 class="text-center pt-3">Status:</h6>
                @Html.DropDownList("approvalstatus", new SelectList(Model.ApprovalStatusNames, ViewBag.SelectedApprovalStatus), new { @class = "form-control text-center mx-auto mb-5" })
                @Html.Hidden("empId", (object)ViewBag.EmpId)
                <div><input type="submit" class="btn btn-primary" id="search" value="Search" /></div>
            }
        </div>
    </div>


    <div class="row justify-content-md-center mt-5 pt-3">
        <div class="col-8">
            <table id="SubmittedRequisitionForm" class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-left">Date Requested</th>
                        <th scope="col" class="text-left">Approval Status</th>
                        <th scope="col" class="text-left">Delivered</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Requisition)
                    { if (item.RequisitionDetails.Count >0)
                        { <tr>
                            @Html.HiddenFor(m => item.RequisitionDetails.Count)
                            <td>@Html.DisplayFor(m => item.RequestedDate)</td>
                            <td>@Html.DisplayFor(m => item.ApprovalStatus.ApprovalStatusName)</td>
                            <td>@Html.DisplayFor(m => item.RetrievalStatus.RetrievalStatusName)</td>

                            @if (item.ApprovalStatusID == 1) // unsubmitted requisitions
                            {
                                <td>
                                    @Html.ActionLink("Edit", "../Requisition/StationeryRequestForm", new { id = item.RequisitionID }, new { @id = "btn_edit", @class = "btn btn-secondary" })
                                </td>
                            }
                            else if (item.ApprovalStatusID == 2) // status 2 = pending;
                            {
                                <td class="form-group row">
                                    @Html.ActionLink("Edit", "EditSubmittedStationeryRequestForm", new { id = item.RequisitionID }, new { @id = "btn_edit", @class = "btn btn-secondary" })
                                    @Html.ActionLink("Delete", "DeleteStationeryRequestForm", new { id = item.RequisitionID }, new { @id = "btn_delete", @class = "btn btn-danger", @data_toggle = "modal", @data_target = "#Modaldelete", @value = item.RequisitionID })
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.ActionLink("View", "ProcessedStationeryRequestForm", new { id = item.RequisitionID }, new { @id = "btn_view", @class = "btn btn-primary" })
                                </td>
                            }
                        </tr>
                        }
                    }

                </tbody>
            </table>
            <div class="modal fade" id="Modaldelete" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title text-right">Requisition Delete Confirmation</h6>
                        </div>
                        <div class="modal-body text-left">
                            <p>Are you sure you want to delete the requisition?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="row justify-content-md-center ">
                                @using (Html.BeginForm("DeleteRequisitionForm", "ViewPastRequest", FormMethod.Post))
                                {
                                <div class="btn-group">
                                    <div class="col-4 "><button type="button" data-dismiss="modal" class="btn btn-default">No</button></div>
                                    <div class="col-4 text-end"><button id="btnSubmit" name="id" type="submit" class="btn btn-primary" value="">Yes</button></div>
                                </div>
                                    
                                }

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.btn.btn-danger').on("click", function () {
            console.log("hello");
            console.log($(this).attr("value"));
            $('#btnSubmit').val($(this).attr("value"));
        });
    });
</script>