@model LogicUniversityTeam5.Models.CombinedViewModel
@{
    ViewBag.Title = "OrderSummary";
}

<body>
    @using (Html.BeginForm("DownloadPurchaseOrders", "CreateOrders", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row justify-content-md-center pb-5">
                <h1 class="text-center mb=3">Order Summary</h1>
            </div>

            <div class="row justify-content-md-center">
                <div class="card col-8">
                    <div class="row justify-content-md-start inline">
                        <div class="text-left col-12">
                            <strong>Order ID: @Url.RequestContext.RouteData.Values["id"]</strong>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row justify-content-md-center mt-1">
                            <table id="OrderSummaryTable" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-left">Category</th>
                                        <th scope="col" class="text-left">Description</th>
                                        <th scope="col" class="text-left">Required Quantity</th>
                                        <th scope="col" class="text-left">Available Quantity</th>
                                        <th scope="col" class="text-left">Supplier</th>
                                        <th scope="col" class="text-left">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{decimal orderTotalPrice = 0;}
                                    @for (int i = 0; i < Model.OrderSupplierDetails.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(m => Model.Items[i].Category.CategoryName)
                                                @Html.HiddenFor(m => Model.Items[i].Category.CategoryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => Model.Items[i].ItemName)
                                                @Html.HiddenFor(m => Model.Items[i].ItemName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => Model.ReOrderItemQty[i])
                                                @Html.HiddenFor(m => Model.ReOrderItemQty[i])
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => Model.OrderSupplierDetails[i].Quantity)
                                                @Html.HiddenFor(m => Model.OrderSupplierDetails[i].Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => Model.OrderSupplierDetails[i].OrderSupplier.Supplier.SupplierName)
                                                @Html.HiddenFor(m => Model.OrderSupplierDetails[i].OrderSupplier.Supplier.SupplierName)
                                                @Html.HiddenFor(m => Model.OrderSupplierDetails[i].OrderSupplier.OrderID)
                                            </td>
                                            <td>
                                                @{decimal itemTotalPrice = Model.OrderSupplierDetails[i].UnitCost *
                                                                                               Model.OrderSupplierDetails[i].Quantity;}
                                                @Html.DisplayFor(m => itemTotalPrice)
                                            </td>
                                        </tr>
                                        orderTotalPrice += itemTotalPrice;
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total:</td>
                                        <td>
                                            <label>@String.Format("{0:C}", orderTotalPrice)</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center mt-5">
                <div class="col-4 text-center">
                    <button type="submit" class="btn btn-primary" id="downloadPO">Download PO</button>
                </div>
                <div class="col-4 text-center">
                    @Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "btn btn-info", @disabled = "true" })
                </div>
            </div>
        </div>
    }
</body>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };

    document.ready( function () {
        var rowCount = $('#OrderSummaryTable tr').length;
        if (rowCount < 2) {
            $('#downloadPO').attr("disabled", "disabled");
        }
    })
</script>



