@model LogicUniversityTeam5.Models.CombinedViewModel

@{
    ViewBag.Title = "OrderQuantity";

}

<div class="container">
    <h1 class="text-center pb-3">Confirm Reorder Quantity</h1>
    <div class="row justify-content-md-center mt-3">
        <div class="col-8 text-center">
            <div>

                <table class="table-bordered" s>
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Category</th>
                            <th scope="col" class="text-center">Description</th>
                                <th scope="col" class="text-center align-self-center col-3">Reorder Quantity</th>
                        </tr>
                    </thead>

                    @using (Html.BeginForm("OrderQuantity", "CreateOrders", FormMethod.Post))
                    {
                        <tbody>
                            @for (int i = 0; i < Model.reorderdetail.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => Model.Items[i].Category.CategoryName)                                     
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.reorderdetail[i].ItemName)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => Model.Quantity[i])
                                    </td>
                                </tr>
                                }
                        </tbody>

                    }
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center mt-3 col 8">
        <div class="col-4 text-center">
            <script type="text/javascript">
                           $(document).ready(function () {

                          $('#btn_back').click(function (e)
                          {
                              location.href = '@Url.Content("~/CreateOrders/ItemCatalogue")';
                          });

                          });
            </script>

            <input id='btn_back' type="button" class="btn btn-secondary" value="Back" />
        </div>
        <div class="col-4 text-center">
            <button type="submit" id="btn_next" class="btn btn-primary">Next</button>
        </div>
        <script type="text/javascript">
                           $(document).ready(function () {

                          $('#btn_next').click(function (e)
                          {
                              location.href = '@Url.Content("~/CreateOrders/PlaceOrder_test")';
                          });

                          });
        </script>
    </div>
</div>

