@model LogicUniversityTeam5.Models.CombinedViewModel
@{
    ViewBag.Title = "PlaceOrder";
}

<body>
    <div class="container">
        <h1 class="text-center">Place Order</h1>
        <div class="row justify-content-md-center mt-3">
            <div class="col-8 text-left">
                <h4>Supplier Information</h4>
            </div>
        </div>
        <div class="row justify-content-md-center ">
            <div class="col-2">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-supplier1-list" data-toggle="list" href="#list-supplier1"
                       role="tab" aria-controls="supplier1">Supplier1</a>
                    <a class="list-group-item list-group-item-action" id="list-supplier2-list" data-toggle="list" href="#list-supplier2" role="tab"
                       aria-controls="supplier2">Supplier2</a>
                    <a class="list-group-item list-group-item-action" id="list-supplier3-list" data-toggle="list" href="#list-supplier3" role="tab"
                       aria-controls="supplier3">Supplier3</a>
                </div>
            </div>
            <div class="col-6">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-supplier1" role="tabpanel" aria-labelledby="list-supplier1-list">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">ALPHA Office Suupliers</div>
                            <div class="card-body">
                                <p class="card-text">Contact Name: MS.Irene Tran</p>
                                <p class="card-text">Mobile No:4619928</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-supplier2" role="tabpanel" aria-labelledby="list-supplier2-list">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">Cheap Stationer</div>
                            <div class="card-body">
                                <p class="card-text">Contact Name: Mr Kway Koh</p>
                                <p class="card-text">Mobile No:4619928</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-supplier3" role="tabpanel" aria-labelledby="list-supplier3-list">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">BANES Shop</div>
                            <div class="card-body">
                                <p class="card-text">Contact Name: Mr Loh Ah Pek</p>
                                <p class="card-text">Mobile No:4781234</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @using (Html.BeginForm("PlaceOrder", "CreateOrders", FormMethod.Post))
        {

            for (int i = 0; i < Model.Suppliers.Count; i++)
            {
                @Html.HiddenFor(m => Model.Suppliers[i].SupplierID)
                <div class="row justify-content-md-center mt-3 pb-3">
                    <div class="col-8 text-left">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-@i" aria-expanded="true" aria-controls="collapseOne">
                                            <h4 class="text-left">Supplier @(i + 1)</h4>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse-@i" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <div>@Html.DisplayFor(m => Model.Suppliers[i].SupplierName)</div>
                                            <div class="card-body">
                                                <p class="card-text">Contact Name: @Html.DisplayFor(m => Model.Suppliers[i].ContactName)</p>
                                                <p class="card-text">Phone No: @Html.DisplayFor(m => Model.Suppliers[i].PhoneNumber)</p>
                                                <p class="card-text">Address: @Html.DisplayFor(m => Model.Suppliers[i].Address)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <table id="Supplier1OrderTable" class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Category</th>
                                    <th scope="col" class="text-left col-6">Description</th>
                                    <th scope="col" class="text-center">Reorder Quantity</th>
                                    <th scope="col" class="text-center col-2">Price per Unit</th>
                                    <th scope="col" class="text-center">Available Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < Model.supplierItems.Count; j++)
                                {
                                    if (Model.supplierItems[j].Supplier.SupplierID.Equals(Model.Suppliers[i].SupplierID))
                                    {
                                        @Html.HiddenFor(m => Model.supplierItems[j].SupplierItemID)
                                        <tr class="text-center">
                                            <td> @Html.DisplayFor(m => Model.Items[j].Category.CategoryName)</td>
                                            <td class="text-left">@Html.DisplayFor(m => Model.Items[j].ItemName)</td>
                                            <td>
                                                @Html.DisplayFor(m => Model.ReOrderItemQty[j])
                                                @Html.HiddenFor(m => Model.ReOrderItemQty[j])
                                            </td>
                                            <td>@Model.supplierItems[j].Cost</td>
                                            <td class="text-center">
                                                @{int key = Model.supplierItems[i].SupplierItemID;
                                                }
                                                @Html.TextBoxFor(m => Model.AddedNumbers[j], new { @class = "form-control col-12 text-center" })
                                            </td>
                                        </tr>
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }

            <div class="row justify-content-md-center mt-3">
                <div class="col-4 text-center">
                    <a href="javascript:history.go(-1)" class="btn btn-secondary" id="btn_back">Back</a>
                </div>
                <div class="col-4 text-center">
                    <button id="btn_next" class="btn btn-primary">Next</button>
                </div>
            </div>
        }



    </div>
</body>

