@model LogicUniversityTeam5.Models.CombinedViewModel
@{
    ViewBag.Title = "SubmitInvoice";
}
@using (Html.BeginForm("SubmitInvoice", "CreateOrders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <div class="container">
        <div class="row justify-content-md-center pb-5">
            <h1 class="text-center mb=3">Submit Invoice</h1>
        </div>
        <div class="row justify-content-center">

                @{ List<SelectListItem> orderid = new List<SelectListItem>();
                    if (Model.OrderIds != null && Model.OrderIds.Count > 0)
                    {
                        orderid.Add(new SelectListItem { Text = "Select Order ID", Value = "" , Selected=true});
                        foreach (int item in Model.OrderIds)
                        {
                            orderid.Add(new SelectListItem { Text = item.ToString(), Value = item.ToString() });
                        }
                        <div class="form-group col-md-4">
                            <label for="orderid">Order ID</label>
                            @Html.DropDownListFor(m => Model.AddedText[0], orderid.Distinct(), new { @class = "form-control", @id = "dropdown" });
                            <div class="row justify-content-center">
                                <div class="col-8 text-center">
                                    <input type="submit" class="btn btn-primary" name="Search" value="Search" id="Search" onclick="return Validate()" />
                                </div>
                            </div>
                            <script>
                                function Validate() {
                                    var orderid = document.getElementById("dropdown");
                                    if (orderid.value == "") {
                                        //If the "Please Select" option is selected display error.
                                        alert("Please select an option!");
                                        return false;
                                    }
                                    return true;
                                }
                            </script>
                        </div>
                    }
                    else
                    {
                        orderid.Add(new SelectListItem { Text = "No outstanding orders", Value = "" , Selected=true});
                        <div class="alert alert-primary">There are no orders with outstanding invoices.</div>
                    }
                }

        </div>
        
       <div class="form-check col-4 justify-content-center">
        @if (Model.Suppliers != null)
        {
            for (int i = 0; i < Model.Suppliers.Count; i++)
            {
                @Html.RadioButton("radiobutton", @Model.Suppliers[i].SupplierName, false, new { @id = @Model.RadioButtonListData[i].Id })@Model.Suppliers[i].SupplierName
                
                <br />
            }
        }
        </div>

       @if (Model.OrderIds != null && Model.OrderIds.Count > 0)
       {
        <div class="row justify-content-md-center">
            <div class="col-8">
                <label>Upload Invoice</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="file" accept="application/pdf" />
                    <label class="custom-file-label" for="invoicefile">Choose file</label>
                </div>
                <script>
                    $('#file').on('change', function () {
                        //get the file name
                        var fileName = $(this).val();
                        //replace the "Choose a file" label
                        $(this).next('.custom-file-label').html(fileName);
                    })
                </script>
            </div>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-md-12 text-center">
                    @if (Model.Suppliers is null) {
                        <input type="submit" id="Sent" Name="Sent" class="btn btn-primary" disabled="disabled" value="Submit invoice" />
                    }
                    else
                    {
                        <input type="submit" id="Sent" Name="Sent" class="btn btn-primary" onclick="javascript: return ValidateRadioButton();"
                               value="Submit invoice" />
                    }
               </div>
            </div>
        }

        <script>
            $("#Sent").click(function () {
                var fileName = $("#file").val();
                if (fileName.lastIndexOf("pdf") === fileName.length - 3)
                    return true;
                else
                    alert("Please upload the file");
                return false;
            })
            function ValidateRadioButton() {
                var rbtDetail = document.getElementsByName("radiobutton");
                var isValid = false;
                for (var i = 0; i < rbtDetail.length; i++) {
                    if (rbtDetail[i].checked) {
                        isValid = true;
                        break;
                    }
                }
                if (isValid == false) {
                    alert("Error : Please select a supplier to upload to");
                    return false;
                }
               
            }
        </script>

    </div>
}


