
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">

            Logic Stationeries
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage Requisition
                    </a>
                    <div class="dropdown-menu collapse" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("TrackOutstandingRequisition","TrackOutstandingRequisition")">
                            View Oustanding Requisition
                            (@Model.AddedNumbers[0])
                            <!--OutstandingRequisition>0? OutstandingRequisition: null -->
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage Inventory
                    </a>
                    <div class="dropdown-menu collapse" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("ItemCatalogue","CreateOrders")">Make Purchase Order</a>
                        <a class="dropdown-item" href="@Url.Action("SubmitInvoice","CreateOrders")">Submit Invoice</a>
                        <a class="dropdown-item" href="@Url.Action("ReceivedPurchaseOrdersList", "ViewReceivedOrdersList")">View Order History</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ManageMonthlyStockDiscrepancy", "StockAdjustment")">Manage Discrepancy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Generate Report
                    </a>
                    <div class="dropdown-menu collapse" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("RequisitionCostAnalysisReport","Reporting")">Requisition Category Analysis</a>
                        <a class="dropdown-item" href="@Url.Action("RequisitionItemAnalysisReport","Reporting")">Requisition Item Analysis</a>
                        <a class="dropdown-item" href="@Url.Action("ReorderCostAnalysisReport","Reporting")">Reorder Cost Analysis</a>
                    </div>
                </li>
            </ul>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-outline-secondary float-right mt-3" value="Logout" />
            }
        </div>
    </nav>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
          } else {
            document.getElementById("navbar").style.top = "-100px";
          }
          prevScrollpos = currentScrollPos;
        }
    </script>
</body>
