@model LogicUniversityTeam5.Models.CombinedViewModel
@{
    ViewBag.Title = "PurchaseOrderSummary";
}

<div class="container">
    <h1 class="text-center">Purchase Order Summary</h1>
    <div class="row justify-content-md-center mt-5 ">
        <div class="text-left col-8"><strong>Order ID:            
    @(ViewContext.RouteData.Values["id"])</strong></div>
    </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-8">
    @using (Html.BeginForm("PurchaseOrderSummary", "ViewReceivedOrdersList", FormMethod.Post))
    {
        <table id="ReceivedPurchaseOrdersDetailsTable" class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-left">Category</th>
                    <th scope="col" class="text-left">Description</th>
                    
                    <th scope="col" class="text-left">Available Quantity</th>
                    <th scope="col" class="text-left">Supplier</th>
                    <th scope="col" class="text-left">Total Price</th>
                    <th scope="col" class="text-left">Actual Qunatity</th>
                    <th scope="col" class="text-left">Actual Total Price</th>
                </tr>
            </thead>
            <tbody>
           @{ 
               decimal finaltotalprice = 0;
               decimal finalactualtotalprice = 0;
               for (int i = 0; i < Model.OrderSupplierDetails.Count; i++)
               {
                   decimal totalprice =
                   Model.OrderSupplierDetails[i].Quantity * Model.OrderSupplierDetails[i].UnitCost;
                   //decimal finaltotalprice = 0;
                   finaltotalprice = finaltotalprice + totalprice;
                   decimal actualtotalprice = (decimal)
                   Model.OrderSupplierDetails[i].ActualQuantityReceived * Model.OrderSupplierDetails[i].UnitCost;
                   //decimal finalactualtotalprice = 0;
                   finalactualtotalprice = finalactualtotalprice + actualtotalprice;
            <tr>
                <td>@Html.DisplayFor(m => Model.Items[i].Category.CategoryName)</td>
                <td>@Html.DisplayFor(m => Model.Items[i].ItemName)</td>         
                <td>@Html.DisplayFor(m => Model.OrderSupplierDetails[i].Quantity)</td>
                <td>@Html.DisplayFor(m => Model.Supplier[i].SupplierName)</td>
                <td>$@Html.DisplayFor(m => totalprice)</td>
                <td>
                    @Html.DisplayFor(m => Model.OrderSupplierDetails[i].ActualQuantityReceived)
                </td>
                <td>$@Html.DisplayFor(m => actualtotalprice)</td>
            </tr>
               }

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td>$@Html.DisplayFor(m =>finaltotalprice )</td>
                    <td></td>
                    <td>$@Html.DisplayFor(m => finalactualtotalprice)</td>
                </tr>
               }
            </tbody>
               
        </table>
    }
           
        </div>
    </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-4 text-center">
            <button id="back" class="btn btn-primary">Back</button>
        </div>
        <div class="col-4 text-center">
            <button id="home" class="btn btn-primary">Home</button>
        </div>
        <script>
             $(document).ready(function () {
                $('#home').click(function (e)
                {
                    location.href = '@Url.Content("~/Home/Index/")';
                });
             });
             $(document).ready(function () {
                $('#back').click(function (e)
                {
                    location.href = '@Url.Content("~/ViewReceivedOrdersList/ReceivedPurchaseOrdersList/")';
                });
             });
        </script>
    </div>
</div>

