@model LogicUniversityTeam5.Models.ItemCatalogue

@{
    ViewBag.Title = "ItemCatalogue";
}

<div class="container">
    <h1 class="text-center">Item Catalogue</h1>
    <div class="row justify-content-md-center mt-3">
        <span class="my-auto">
            Category
        </span>
        <div class="col-3 text-center">
            @{ List<string> des = new List<string>();
                foreach (var item in Model.category)
                {
                    des.Add(item.CategoryName);
                }
            }
            @Html.DropDownList("StudentGender",
                  new SelectList(des.Distinct()),
                  "Select Category",
                  new { @class = "form-control" })
        </div>
    </div>
    <div class="row justify-content-md-center mt-3 align-self-center">
        <span class="my-auto">
            Description
        </span>
        <div class="col-6 text-center">
            <input class="form-control form-control" type="text" name="descriptiontext" id="descriptiontext"
                   placeholder="Search for Description" onkeyup="searchbydesFunction()">

        </div>
        <div class="invalid-feedback">
            Please provide a category.
        </div>
    </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-9 text-center">
            <button id="btn_search" type="button" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="mt-6 mb-6"> </div>
    <div class="row justify-content-md-center mt-3">
        <div class="col-8 text-center">
            <table class="table" id="cataloguetable">
                <thead>
                    <tr>
                        <th scope="col" class="text-left">Category</th>
                        <th scope="col" class="text-left">Description</th>
                        <th scope="col" class="text-left">Reorder level</th>
                        <th scope="col" class="text-center col-4">Current Stock</th>
                        <th scope="col" class="text-left">Reorder Quantity</th>
                        <th scope="col" class="text-left">Reorder</th>
                    </tr>
                </thead>
                @using (Html.BeginForm("Method", "Model", FormMethod.Post))
                {
                    <tbody>

                        @for (int i = 0; i < Model.stocklevel.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => Model.category[i].CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.item[i].ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.stocklevel[i].Reorderlevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.stocklevel[i].Currentstock)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => Model.stocklevel[i].ReorderQuantity)
                                </td>
                                <td class="text-center">
                                    <button id="btn_add" class="btn btn-primary">Add</button>
                                </td>
                            </tr>

                        }
                    </tbody>

                }
            </table>
            <script>
                function searchbydesFunction() {
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("descriptiontext");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("cataloguetable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[1];
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
        </div>
    </div>
    <div class="row justify-content-md-center mt-3 col 8">
        <div class=" col-4 text-center">

            <script type="text/javascript">
                   $(document).ready(function () {

                  $('#btnForgotPassword').click(function (e)
                  {
                      location.href = '@Url.Content("~/Home/Index/")';
                  });

                  });
            </script>

            <input id='btnForgotPassword' type="button" class="btn btn-secondary" value="Cancel" />
        </div>
        <div class="col-4 text-center">
            <button type="submit" value="Submit" id="btn_next" name="Submit" class="btn btn-primary">Next</button>
        </div>
    </div>
</div>

