@model LogicUniversityTeam5.Models.CombinedViewModel
@{
    ViewBag.Title = "ResubmitStationaryRequestForm";
}

<body>
    <div class="container">
        <div class="row justify-content-md-center pb-5">
            <h1 class="text-center mb=3">Stationery Requisition Form</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <div class=" col-12">
                        <table id="Supplier3OrderTable" class="table mb-5">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-left">Description</th>
                                    <th scope="col" class="text-left">Unit of Measure</th>
                                    <th scope="col" class="text-center">Quantity Requested</th>
                                    <th scope="col" class="text-left">Action</th>

                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.Requisitions.Count; i++)
                             {
                                @Html.HiddenFor(m => Model.Requisitions[i].ItemID)
                                @Html.HiddenFor(m=>Model.Requisitions[i].RequisitionID)
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => Model.Requisitions[i].Item.ItemName)
                                        @Html.HiddenFor(m => Model.Requisitions[i].Item.ItemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Requisitions[i].Item.UnitOfMeasure)
                                        @Html.HiddenFor(m => Model.Requisitions[i].Item.UnitOfMeasure)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => Model.AddedText[i])
                                        @Html.HiddenFor(m => Model.AddedText[i])
                                    </td>
                                    <td>
                                       
                                        @Html.ActionLink("Delete", "Delete", new { id = Model.Requisitions[i].RequisitionDetailsID }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                                }
                              

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-4 text-center">
                        <button id="btn_back" class="btn btn-secondary" type="button">View Stationery to add</button>
                        @*@Html.ActionLink("ViewStationeryCatalogue", "ViewStationeryCatalogue")*@


                    </div>
                    <div class="col-4 text-center">
                        <button id="btn_resubmit" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Resubmit Form</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center mt-5">
            <div class="col-8 text-center">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info col-3 align-right ">OK</button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">

                                <h6 class="modal-title text-right">Requisition Form Resubmission Confirmation</h6>
                            </div>
                            <div class="modal-body text-left">
                                <p>Are you sure you want to resubmit the requisition form?</p>
                            </div>
                            <div class="modal-footer">
                                <div class="row justify-content-md-center ">
                                    <div class="col-4 ">
                                        <button type="submit" data-dismiss="modal" class="btn btn-default">No</button>
                                    </div>
                                    <div class="col-4 text-end">
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });

        $(document).ready(function () {
         $('#btn_back').click(function (e) {
                window.location.href = '@Url.Content("~/Requisition/ViewStationeryCatalogue")';
            });
        });

    </script>
</body>

