@model LogicUniversityTeam5.Models.CombinedViewModel
@{
    ViewBag.Title = "ViewStationeryCatalogue";
}

<body>
    @using (Html.BeginForm("ViewStationeryCatalogue", "Requisition", FormMethod.Post))
    {
        <div class="container">
            <div class="row justify-content-md-center pb-5">
                <h1 class="text-center mb=3">Stationery Catalogue</h1>
            </div>
            <div class="row justify-content-md-center my-auto">
                <div class="align-middle">
                    Category:
                </div>
                <div class="form-group col-md-3 text-center">
                    @{List<string> des = new List<string>();
                    foreach (var item in Model.Categories)
                    {
                        des.Add(item.CategoryName);
                    }
                    }
                    @*, new { @class = "form-control" }*@
                    @*@Html.DropDownList("Categories", new SelectList(category.Distinct()), "Select")
                    @Html.HiddenFor(m => m.Categories)*@
                    @Html.DropDownListFor(m => Model.categorySelected,
                                              new SelectList(des.Distinct()),
                                              "Select Category",
                                              new { @class = "form-control" })

                </div>
            </div>
            <div class="row justify-content-md-center mt-3">
                <div class="text-center"><input type="submit" class="btn btn-primary" value="Search" id="btn_search" /></div>
            </div>

            <div class="row justify-content-md-center mt-3">
                <div class="col-8">
                    <table id="StationeryCatalogueTable" class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left col-6">Description</th>
                                <th scope="col" class="text-left">Unit of Measure</th>
                                <th scope="col" class="text-left">Quantity to Add</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 0; i < Model.Items.Count; i++)
                            {
                                @Html.HiddenFor(m => Model.Items[i].ItemID)
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => Model.Items[i].ItemName)
                                        @Html.HiddenFor(m => Model.Items[i].ItemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => Model.Items[i].UnitOfMeasure)
                                        @Html.HiddenFor(m => Model.Items[i].UnitOfMeasure)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => Model.AddedText[i], new { @id = "actualcount", @class = "form-control col-9 mx-auto" })
                                        @Html.HiddenFor(m =>Model.AddedText[i])
                                    </td>
                                    
                                </tr>
                            }

                          
                        </tbody>
                    </table>
                </div>
            </div>
            <script type="text/javascript">

                $('#btn_search').click(function (e) {
                    $('#Categories').val('@Model.Categories');
                    var cat = document.getElementsByName('Categories').value;
                    alert(cat);

                });              


            </script>
            <div class="row justify-content-md-center mt-5">
                <div class="col-8 text-right">
                    <input type="submit" class="btn btn-primary" id="btn_gotorequestform"
                           value="Go to request form" />
                </div>
            </div>
        </div>

    }

</body>


